.card {
    position: sticky;
    top: 40px;
    width: 100%;
    // left: 0;

    &__title {
        display: flex;
        align-items: center;
        column-gap: 5px;
        font-weight: 600;
        font-size: 32px;
        margin-bottom: 8px;
    }

    &__content {
        padding: 20px;
        background-color: var(--color-light-grey);
        border-top-left-radius: var(--border-radius);
        border-top-right-radius: var(--border-radius);
        width: 334px;
        height: 507px;
        overflow: auto;
    }
}

.cart {
    &__list {
        display: flex;
        flex-direction: column;
        row-gap: 15px;
    }

    &__item {
        display: flex;
        column-gap: 10px;
        justify-content: space-between;
        align-items: center;
        padding-bottom: 15px;
        border-bottom: 1px solid var(--color-white);

        &__img {
            background-color: var(--color-white);
            padding: 8px;
            border-radius: var(--border-radius);
        }

        &__name {
            font-weight: 400;
            font-size: 16px;
            margin-bottom: 3px;
        }

        &__price {
            font-weight: 300;
            font-size: 16px;
        }

        &__row {
            display: flex;
            flex-direction: column;
        }

        &__anotherrow {
            align-items: center;
            display: flex;
            column-gap: 10px;
        }
    }

    &__total {
        background-color: var(--color-light-grey);
        width: 334px;
        z-index: 10;
        padding: 20px;
        border-bottom-left-radius: var(--border-radius);
        border-bottom-right-radius: var(--border-radius);

        &__button {
            background-color: var(--color-dark-red);
            padding: 10px 75px;
            border-radius: var(--border-radius);
            width: 295px;
            font-weight: 500;
            font-size: 26px;
            color: var(--color-white);

            &:hover {
                background-color: var(--color-red);
                box-shadow: 0px 0px 8px var(--color-red);
            }

            &:active {
                position: relative;
                top: 2px;
            }
        }

        &__text {
            font-weight: 300;
            font-size: 24px;
            margin-bottom: 10px;
        }
    }
}
