.promo__list {
    display: flex;
    column-gap: 30px;
    flex-wrap: wrap;
    max-width: 1120px;
    row-gap: 25px;
    justify-content: center;
    margin-top: -635px;
    margin-left: 280px;
    z-index: 100;
}

@media (max-width: 1650px) {
    .promo__list {
        margin-top: 0;
        margin-left: 0;
    }
}
