.promo {
    &__row {
        display: flex;
        justify-content: center;
        column-gap: 40px;
        flex-wrap: wrap;
    }
}

@media (max-width: 1650px) {
    .promo {
        &__row {
            margin-top: 25px;
        }
    }
}
