:root {
    --container-width: 1610px;
    --container-padding-x: 24px;

    --font-family: 'Inter', sans-serif;

    --color-white: #ffffff;
    --color-black: #000000;
    --color-red: #ff0000;
    --color-dark-red: #d22f2f;
    --color-grey: #7c7c7c;
    --color-light-grey: #e6e6e6;

    --border-radius: 15px;
    --border: 1px solid #000000;

    --transition-duration: 0.2s;
}
