.header {
    width: 100%;
    background-color: var(--color-dark-red);
    padding: 24px 0px;

    &__row {
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    &__relative {
        position: relative;

        &__count {
            position: absolute;
            font-size: 18px;
            border: 2px solid var(--color-dark-red);
            z-index: 100;
            width: 35px;
            height: 35px;
            border-radius: 350px;
            background-color: var(--color-white);
            top: 0px;
            padding-top: 1px;
            right: -10px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: var(--color-dark-red);
            font-weight: 600;
        }
    }
}

@media (max-width: 1650px) {
    .header {
        position: sticky;
        top: 0px;
        z-index: 1001;
    }
}

@media (max-width: 872px) {
    .header {
        padding: 10px 0px;

        &__logo {
            width: 150px;
        }

        &__cart {
            width: 35px;
        }

        &__relative {
            position: relative;

            &__count {
                position: absolute;
                font-size: 13px;
                z-index: 100;
                width: 25px;
                height: 25px;
                border-radius: 350px;
                top: -5px;
                right: -10px;
                display: flex;
                align-items: center;
                justify-content: center;
            }
        }
    }
}
